.grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}
.grid > .block {
  background-color: #000000;
  margin: 2px;
  cursor: pointer;
}
.coin {
  border-radius: 50%;
  background-color: gold;
  border: rgb(255, 166, 0) 4px solid;
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translateY(10px);
  z-index: -1;
}
