---
layout: default
title: Math Posts
---

<div class="content" style="align-items: flex-start">
  <h1>Posts</h1>
  <ol>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ol>
  <h3>Articles</h3>
  <ol>
    {% for article in site.data.math-articles %}
    <li>
      <a href="{{ article.src }}"
        >{{ article.title }}.
        <span style="font-weight: 400; font-size: small"
          >Author(s): {{ article.authors | join:", " }}</span
        >
      </a>
    </li>
    {% endfor %}
  </ol>
  <!-- <h3>Projects</h3>
  <ol>
    {% for project in site.data.math-project %}
    <li>
      <a href="{{ project.src }}">{{ project.title }}. </a>
    </li>
    {% endfor %}
  </ol> -->
</div>
